body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: #0F2027;
	background-image: url("images/ice.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}
